#home{
    position: absolute;
    font-size: 55px;
    left: 0%;
    z-index: 2;
    top: 0%;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}
nav {
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 30px;
    left:30%;
}
#contents li{
    margin-left: 35px;
    float: left;
    list-style-type: none;
}
aside li {
    border: 2px solid black;
    list-style-type: none;
}
aside{
    position: fixed;
    z-index: 2;
    list-style-position: inside;
    left: 5px;
    top: 10%;
    font-size: 20px;
    background-color: white;
}
#s1{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 10%;
    left: 10%;
}
#s2{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 10%;
    left: 30%;
}
#s3{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 10%;
    left: 50%;
}
#s4{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 10%;
    left: 70%;
}
#z1 {
    position: absolute;
    left: 10%;
    top: 45%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
#z2 {
    position: absolute;
    left: 30%;
    top: 45%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
#z3 {
    position: absolute;
    left: 50%;
    top: 45%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
#z4 {
    position: absolute;
    left: 70%;
    top: 45%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
#s5{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 90%;
    left: 10%;
}
#s6{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 90%;
    left: 30%;
}
#s7{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 90%;
    left: 50%;
}
#s8{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    top: 90%;
    left: 70%;
}
#z5 {
    position: absolute;
    left: 10%;
    top: 125%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
#z6 {
    position: absolute;
    left: 30%;
    top: 125%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
#z7 {
    position: absolute;
    left: 50%;
    top: 125%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
#z8 {
    position: absolute;
    left: 70%;
    top: 125%;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    list-style-position: inside;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    overflow: auto;
}
img {
    border: 1px solid black;
}
body {
    background-color: rgb(151, 150, 150);
}
header li:hover{
    background-color: rgba(255, 255, 0, 0.212);
}
#ot {
    background-color: rgba(255, 255, 0, 0.212);
}
