#home{
    position: absolute;
    font-size: 55px;
    left: 0%;
    z-index: 2;
    top: 0%;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}
nav {
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 30px;
    left:30%;
}
#contents li{
    margin-left: 35px;
    float: left;
}
aside li {
    border: 2px solid black;
}
aside{
    position: fixed;
    z-index: 2;
    list-style-position: inside;
    left: 5px;
    top: 10%;
    font-size: 20px;
    background-color: white;
}
img {
    width: 300px;
    height: 300px;
}
#s0 {
    position: absolute;
    width: 500px;
    top: 50px;
    left: 32%;
    width: 700px;
    height: 370px;
}
#s1 {
    position: absolute;
    top: 530px;
    left: 10%;
}
#s2 {
    position: absolute;
    top: 530px;
    left: 40%;
}
#s3 {
    position: absolute;
    top: 530px;
    left: 70%;
}

#b {
    position: absolute;
    top: 470px;
    left: 10%;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
#d {
    position: absolute;
    top: 470px;
    left: 40%;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
#sn {
    position: absolute;
    top: 470px;
    left: 70%;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
#all{
    height: 450px;
    width: 100%;
    background-color: rgba(0, 171, 238, 0.5);
}
#all1{
    height: 420px;
    width: 100%;
}
#at {
    position: absolute;
    top: 425px;
    left: 32%;
}
li{
    list-style-type: none;
}
body {
    background-color:white;
}
header li:hover{
    background-color: rgba(255, 255, 0, 0.212);
}
#sna {
    background-color: rgba(255, 255, 0, 0.212);
}
