#home{
    position: absolute;
    font-size: 55px;
    left: 0%;
    z-index: 2;
    top: 0%;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}
nav {
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 30px;
    left:30%;
}
#contents li{
    margin-left: 35px;
    float: left;
    list-style-type: none;
}
aside li {
    border: 2px solid black;
    list-style-type: none;
}
aside{
    position: fixed;
    z-index: 2;
    list-style-position: inside;
    left: 5px;
    top: 10%;
    font-size: 20px;
    background-color: white;
}
#s{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    left: 10%;
}
#m3{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    left: 30%;
}
#x{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    left: 50%;
}
#y{
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 35%;
    left: 70%;
}
img {
    top: 10%;
}
#models {
    position: absolute;
    left: 10%;
    top: 45%;
    font-size: 30px;
    font-weight: bold;
}
#model3 {
    position: absolute;
    left: 30%;
    top: 45%;
    font-size: 30px;
    font-weight: bold;
}
#modelx {
    position: absolute;
    left: 50%;
    top: 45%;
    font-size: 30px;
    font-weight: bold;
}
#modely {
    position: absolute;
    left: 70%;
    top: 45%;
    font-size: 30px;
    font-weight: bold;
}
#r {
    position: absolute;
    top: 500px;
    left: 200px;
    font-size: 25px;
}
#u {
    position: absolute;
    top: 800px;
    left: 200px;
    font-size: 25px;
}
#h {
    position: absolute;
    top: 1100px;
    left: 200px;
    font-size: 25px;
}
#e {
    position: absolute;
    top: 1400px;
    left: 200px;
    font-size: 25px;
}
div > p {
    border: 1px solid black;
    overflow: hidden;
    width: 450px;
    height: 200px;
    background-color: white;
}
#n1 {
    position: absolute;
}
#n2 {
    position: absolute;
    left: 300px;
}
#n3 {
    position: absolute;
    left: 600px;
}
#n4 {
    position: absolute;
    left: 900px;
}
#n1:active {
    position: absolute;
    z-index: 10;
    left: 50px;
    width: 1000px;
    height: 700px;
    font-size: 20px;
}
#n2:active {
    position: absolute;
    z-index: 10;
    left: 50px;
    width: 1000px;
    height: 700px;
    font-size: 20px;
}
#n3:active {
    position: absolute;
    z-index: 10;
    left: 50px;
    width: 1000px;
    height: 700px;
    font-size: 20px;
}
#n5 {
    position: absolute;
}
#n6 {
    position: absolute;
    left: 200px;
}
#n7 {
    position: absolute;
    left: 400px;
}
#n8 {
    position: absolute;
    left: 600px;
}
#n5:active {
    position: absolute;
    z-index: 10;
    left: 50px;
    width: 1000px;
    height: 700px;
    font-size: 20px;
}
#n6:active {
    position: absolute;
    z-index: 10;
    left: 50px;
    width: 1000px;
    height: 700px;
    font-size: 20px;
}
#n7:active {
    position: absolute;
    z-index: 10;
    left: 50px;
    width: 1000px;
    height: 700px;
    font-size: 20px;
}
#n8:active {
    position: absolute;
    z-index: 10;
    left: 50px;
    width: 1000px;
    height: 700px;
    font-size: 20px;
    overflow: auto;
}
div img {
    display: block; margin: 0px auto;
    width: 500px;
}
#draco{
    width: 400px;
}
body {
    background-color: rgb(151, 150, 150);
}
header li:hover{
    background-color: rgba(255, 255, 0, 0.212);
}

#sx{
    background-color: rgba(255, 255, 0, 0.212);
}
